<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%#= image_tag (@cocktail.), class: "cocktail-hero" %>


  <% @cocktail.doses.each do |d| %>
    <p><%= d.description %> | <%= d.ingredient.name %>  <%= link_to "ðŸ—‘ï¸", dose_path(d), method: :delete, data: {confirm: "Are you sure?" } %></p>
  <% end %>


  <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
</div>
