<%= render "components/cocktail_banner" %>
<div class="container">

  <!-- list doses -->
  <% @cocktail.doses.each do |d| %>
    <p><%= d.description %> | <%= d.ingredient.name %>  <%= link_to "ðŸ—‘ï¸", dose_path(d), method: :delete, data: {confirm: "Are you sure?" } %></p>
  <% end %>

  <!-- add doses button -->
  <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary btn-ingredient" %>
</div>
